.navbar-brand{
    font-size: xx-large;
}
.nav-item{
    font-size: large;
}
#scroll{
    width:100%;
    height: 400px;
    overflow: scroll;
}
textarea{
    width: 100%;
    height: 200px;
}
.jumbotron{
    background: transparent;
}
body{
    font-family: 'Fresca', sans-serif;
    background: mintcream;
}
#posts{
    font-family: 'Montserrat', sans-serif;
}
.posts_det{
    font-family: 'Bitter', serif;
}